@font-face {
    font-family: 'Mali';
    src: url('../assets/fonts/Mali/Mali-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'corpo';
    src: url('../assets/fonts/DMSans/DMSans-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'corpo';
    src: url('../assets/fonts/DMSans/DMSans-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'corpo';
    src: url('../assets/fonts/DMSans/DMSans-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'corpo';
    src: url('../assets/fonts/DMSans/DMSans-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'titulo';
    src: url('../assets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url('../assets/fonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf') format("truetype");
    font-style: italic;
}

:root {
    --ion-font-family: 'corpo';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'titulo';
    text-align: center;
}

ol, ul {
    padding-left: 1.2em;
}

ion-content.ion-padding.md {
    --padding-bottom: 22px;
    max-height: calc(100% - 112px);
    bottom: 56px;
}

ion-content.ion-padding.ios {
    --padding-bottom: 52px;
}

ion-content a {
    color: var(--ion-color-tertiary);
    text-decoration: 1px underline solid;
    background-image: linear-gradient(to bottom, var(--cor-sublinhado), var(--cor-sublinhado));
    background-position: 0 calc(100% + 1px);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    text-decoration: none;
    --cor-sublinhado: var(--ion-color-medium);
    overflow: visible;
    height: 1.4rem;
    display: inline-block;
}

ion-accordion-group.md {
    margin: 0;
}